.backgroundContainer {
    position: relative;
    width: 100%; /* ou la largeur désirée */
    height: 100%; /* ou la hauteur désirée */
  }
  
  .textContent {
    position: absolute;
    top: 50%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255); /* Couleur du texte */
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    height: 50%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

