@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgb(246, 246, 246);
    --background-75: rgba(246, 246, 246, 0.75);
    --background-50: rgba(246, 246, 246, 0.5);
    --background-25: rgba(246, 246, 246, 0.25);

    --foreground: rgb(38, 44, 46);
    --foreground-75: rgba(38, 44, 46, 0.75);
    --foreground-50: rgba(38, 44, 46, 0.5);
    --foreground-25: rgba(38, 44, 46, 0.25);

    --card: rgb(255, 255, 255);
    --card-75: rgba(255, 255, 255, 0.75);
    --card-50: rgba(255, 255, 255, 0.5);
    --card-25: rgba(255, 255, 255, 0.25);

    --card-foreground: rgba(38, 44, 46, 1);

    --popover: rgba(246, 246, 246, 1);
    --popover-75: rgba(246, 246, 246, 0.75);
    --popover-50: rgba(246, 246, 246, 0.5);
    --popover-25: rgba(246, 246, 246, 0.25);

    --popover-foreground: rgba(38, 44, 46, 1);

    --primary: rgba(218, 124, 111, 1);
    --primary-75: rgba(218, 124, 111, 0.75);
    --primary-50: rgba(218, 124, 111, 0.5);
    --primary-25: rgba(218, 124, 111, 0.25);

    --primary-foreground: rgba(246, 246, 246, 1);

    --secondary: rgb(173, 133, 129);
    --secondary-75: rgba(173, 133, 129, 0.75);
    --secondary-50: rgba(173, 133, 129, 0.5);
    --secondary-25: rgba(173, 133, 129, 0.25);

    --secondary-foreground: rgba(246, 246, 246, 1);

    --muted: rgba(93, 112, 116, 1);
    --muted-75: rgba(93, 112, 116, 0.75);
    --muted-50: rgba(93, 112, 116, 0.5);
    --muted-25: rgba(93, 112, 116, 0.25);

    --muted-foreground: rgb(93, 112, 116);

    --accent: rgba(243, 182, 176, 1);
    --accent-75: rgba(243, 182, 176, 0.75);
    --accent-50: rgba(243, 182, 176, 0.5);
    --accent-25: rgba(243, 182, 176, 0.25);

    --accent-foreground: rgb(255, 255, 255);
    --accent-foreground-75: rgba(255, 255, 255, 0.75);
    --accent-foreground-50: rgba(255, 255, 255, 0.5);
    --accent-foreground-25: rgba(255, 255, 255, 0.25);

    --destructive: rgba(153, 0, 0, 1);
    --destructive-75: rgba(153, 0, 0, 0.75);
    --destructive-50: rgba(153, 0, 0, 0.5);
    --destructive-25: rgba(153, 0, 0, 0.25);

    --destructive-foreground: rgba(250, 250, 250, 1);
    --destructive-foreground-75: rgba(250, 250, 250, 0.75);
    --destructive-foreground-50: rgba(250, 250, 250, 0.5);
    --destructive-foreground-25: rgba(250, 250, 250, 0.25);

    --border: rgba(93, 112, 116, 1);
    --border-75: rgba(93, 112, 116, 0.75);
    --border-50: rgba(93, 112, 116, 0.5);
    --border-25: rgba(93, 112, 116, 0.25);

    --input: rgba(93, 112, 116, 1);
    --input-75: rgba(93, 112, 116, 0.75);
    --input-50: rgba(93, 112, 116, 0.5);
    --input-25: rgba(93, 112, 116, 0.25);

    --ring: rgb(93, 112, 116);
    --ring-75: rgba(93, 112, 116, 0.75);
    --ring-50: rgba(93, 112, 116, 0.5);
    --ring-25: rgba(93, 112, 116, 0.25);

    --radius: 0.4rem;
    --font-ephesis: 'Ephesis', serif;
  }

  .dark {
    --background: rgba(45, 45, 45, 1);
    --background-75: rgba(45, 45, 45, 0.75);
    --background-50: rgba(45, 45, 45, 0.5);
    --background-25: rgba(45, 45, 45, 0.25);

    --foreground: rgba(226, 226, 226, 1);
    --foreground-75: rgba(226, 226, 226, 0.75);
    --foreground-50: rgba(226, 226, 226, 0.5);
    --foreground-25: rgba(226, 226, 226, 0.25);
  }
  
}

.shape-custom {
  box-shadow: 110px 75px 0px 4px rgba(93, 112, 116, 0.25);
  -webkit-box-shadow: 110px 75px 0px 4px rgba(93, 112, 116, 0.25);
  -moz-box-shadow: 110px 75px 0px 4px rgba(93, 112, 116, 0.25);
}

.kenburns-top {
-webkit-animation: kenburns-top 5s ease-in-out reverse forwards;
        animation: kenburns-top 5s ease-in-out reverse forwards;
}

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

strong {
  @apply font-semibold;
}